*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg-mobile.svg);
    background-color: #674bb1;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}

/* cabecera */
.cabecera{
    margin: 40px 0;
}

.cabecera img{
    width: 180px;
}

/* hero */
.hero{
    width: 80%;
    margin: auto;
}

.main-img{
    width: 100%;
    margin: 0 auto 50px;
}
.main-img img{
    width: inherit;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

p{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-bottom: 10px;
}

.button-container{
    background-color: white;
    margin: 20px auto 50px;
    width: 180px;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}

.button{
    text-decoration: none;
    font-weight: 600;
}

/* footer */
.redes-sociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50px;
}